@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');






*{
background-color:#FFFFFF;

}
navbar-1{
    position: absolute;
    width: 19200px;
    height: 50px;
    left: 0px;
    top: -1px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    z-index: 1000;
}


.fohatter{
    position: absolute;
    width: 1920px;
    height: 245px;
    left: 0px;
    top: 0px;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%), 
}

.navbar{
    position: absolute;
    width: 1440px;
    height: 50px;
    left: 0px;
    top: -1px;
}

.logo{
    position: absolute;
    width: 81px;
    height: 21px;
    left: 248px;
    top: 14px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    z-index: 5;
    background-color: none;
    background: none;
    border: none;
}

.fooldal{
    position: absolute;
    width: 55px;
    height: 21px;
    left: 772px;
    top: 14px;

    font-family: 'DM Sans, sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    z-index: 5;
}
.footer{
position: absolute;
width: 137px;
height: 26px;
left: 404px;
top: 928px;
gap: 5;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;
color: #000000;

}
.keto{
    position: absolute;
width: 132px;
height: 21px;
left: 600px;
top: 932px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;
color: #393939;
}
.haom{
position: absolute;
width: 200px;
height: 21px;
left: 800px;
top: 932px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;



color: #393939;
}
.negy{
    position: absolute;
width: 425px;
height: 21px;
left: 404px;
top: 980px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height */


color: #6F6F6F;
}